<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Electronic and Communication
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
      <ion-item  routerLink='/ece1'>
        <ion-label>1st Year</ion-label>
      </ion-item>
      <ion-item  routerLink='/ece2'>
        <ion-label>2st Year</ion-label>
      </ion-item>
      <ion-item  routerLink='/ece3'>
        <ion-label>3st Year</ion-label>
      </ion-item>
      <ion-item  routerLink='/ece3'>
        <ion-label>4st Year</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
