<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Electrical Enginnering - 2st year
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
              </ion-card-subtitle>
              <ion-card-title>
                Electron Devices and Circuits
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button (click)="download1()">
                Open
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-label>
      </ion-item>
        <ion-item>
          <ion-label>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>
                </ion-card-subtitle>
                <ion-card-title>
                  Electromagnetic Theory
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-button (click)="download2()">
                  Open
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-label>
        </ion-item>
          <ion-item>
            <ion-label>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>
                  </ion-card-subtitle>
                  <ion-card-title>
                    Power Plant Engineering
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-button (click)="download3()">
                    Open
                  </ion-button>
                </ion-card-content>
              </ion-card>
            </ion-label>
          </ion-item>
            <ion-item>
              <ion-label>
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>
                    </ion-card-subtitle>
                    <ion-card-title>
                      Transforms and Partial Differential Equations
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-button (click)="download4()">
                      Open
                    </ion-button>
                  </ion-card-content>
                </ion-card>
              </ion-label>
            </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Electrical Machines-I
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download5()">
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Digital Logic Circuits
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download5()">
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>


              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Electrical Machines-II
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download6()">
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Transmission and Distribution 
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download7()">
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Measurements and Instrumentation 
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download8()">
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Linear Integrated Circuits and Applications
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download9()">
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Control Systems
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download10()">
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        -Numerical Methods
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download11()">
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
    </ion-list>
</ion-content>
