<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Computer Science Enginnering - 1st year
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
              </ion-card-subtitle>
              <ion-card-title>
                Communicative English
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button>
                Open
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-label>
      </ion-item>
        <ion-item>
          <ion-label>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>
                </ion-card-subtitle>
                <ion-card-title>
                  Engineering Mathematics-I
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-button>
                  Open
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-label>
        </ion-item>
          <ion-item>
            <ion-label>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>
                  </ion-card-subtitle>
                  <ion-card-title>
                    Engineering Physics
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-button>
                    Open
                  </ion-button>
                </ion-card-content>
              </ion-card>
            </ion-label>
          </ion-item>
            <ion-item>
              <ion-label>
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>
                    </ion-card-subtitle>
                    <ion-card-title>
                      Engineering Chemistry
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-button >
                      Open
                    </ion-button>
                  </ion-card-content>
                </ion-card>
              </ion-label>
            </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Programming in C
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button >
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Engg Graphics
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button >
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Technical English
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button >
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Engineering Mathematics-II
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button>
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Physics for Information Science
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button >
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Environmental Science and Engineering
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button >
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Programming in C
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button >
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Basic Electrical Electronics and Measurement Engineering
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button >
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
    </ion-list>
</ion-content>
