<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Electronic and instrumentation enginnering
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
      <ion-item>
        <ion-label>1st Year</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>2st Year</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>3st Year</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>4st Year</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
