<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Civil Enginnering - 2nd year
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
          <ion-label>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>
                </ion-card-subtitle>
                <ion-card-title>
                  Strength of Materials-I
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-button >
                  Open
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-label>
        </ion-item>
          <ion-item>
            <ion-label>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>
                  </ion-card-subtitle>
                  <ion-card-title>
                    Fluid Mechanics
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-button >
                    Open
                  </ion-button>
                </ion-card-content>
              </ion-card>
            </ion-label>
          </ion-item>
            <ion-item>
              <ion-label>
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>
                    </ion-card-subtitle>
                    <ion-card-title>
                      Surveying
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-button >
                      Open
                    </ion-button>
                  </ion-card-content>
                </ion-card>
              </ion-label>
            </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Construction Materials
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button >
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
                <ion-item>
                  <ion-label>
                    <ion-card>
                      <ion-card-header>
                        <ion-card-subtitle>
                        </ion-card-subtitle>
                        <ion-card-title>
                          Engineering Geology
                        </ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <ion-button>
                          Open
                        </ion-button>
                      </ion-card-content>
                    </ion-card>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <ion-card>
                      <ion-card-header>
                        <ion-card-subtitle>
                        </ion-card-subtitle>
                        <ion-card-title>
                          Transforms and Partial Differential Equations
                        </ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <ion-button >
                          Open
                        </ion-button>
                      </ion-card-content>
                    </ion-card>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <ion-card>
                      <ion-card-header>
                        <ion-card-subtitle>
                        </ion-card-subtitle>
                        <ion-card-title>
                          Construction Techniques and Practices
                        </ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <ion-button >
                          Open
                        </ion-button>
                      </ion-card-content>
                    </ion-card>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <ion-card>
                      <ion-card-header>
                        <ion-card-subtitle>
                        </ion-card-subtitle>
                        <ion-card-title>
                          Strength of Materials II
                        </ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <ion-button>
                          Open
                        </ion-button>
                      </ion-card-content>
                    </ion-card>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <ion-card>
                      <ion-card-header>
                        <ion-card-subtitle>
                        </ion-card-subtitle>
                        <ion-card-title>
                          Applied Hydraulic Engineering
                        </ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <ion-button>
                          Open
                        </ion-button>
                      </ion-card-content>
                    </ion-card>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <ion-card>
                      <ion-card-header>
                        <ion-card-subtitle>
                        </ion-card-subtitle>
                        <ion-card-title>
                          Concrete Technology
                        </ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <ion-button>
                          Open
                        </ion-button>
                      </ion-card-content>
                    </ion-card>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <ion-card>
                      <ion-card-header>
                        <ion-card-subtitle>
                        </ion-card-subtitle>
                        <ion-card-title>
                          Soil Mechanics 
                        </ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <ion-button >
                          Open
                        </ion-button>
                      </ion-card-content>
                    </ion-card>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <ion-card>
                      <ion-card-header>
                        <ion-card-subtitle>
                        </ion-card-subtitle>
                        <ion-card-title>
                          Numerical Methods / Model Question Paper
                        </ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <ion-button>
                          Open
                        </ion-button>
                      </ion-card-content>
                    </ion-card>
                  </ion-label>
                </ion-item>
    </ion-list>
</ion-content>
