<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Civil Engineering
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
      <ion-item  routerLink='/civil1'>
        <ion-label>1st Year</ion-label>
      </ion-item>
      <ion-item  routerLink='/civil2'>
        <ion-label>2st Year</ion-label>
      </ion-item>
      <ion-item  routerLink='/civil3'>
        <ion-label>3st Year</ion-label>
      </ion-item>
      <ion-item  routerLink='/mech4'>
        <ion-label>4st Year</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
