<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Electrical Enginnering - 1st year
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
              </ion-card-subtitle>
              <ion-card-title>
                Communicative English
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button (click)="download1()">
                Open
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-label>
      </ion-item>
        <ion-item>
          <ion-label>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>
                </ion-card-subtitle>
                <ion-card-title>
                  Engineering Mathematics-I
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-button (click)="download2()">
                  Open
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-label>
        </ion-item>
          <ion-item>
            <ion-label>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>
                  </ion-card-subtitle>
                  <ion-card-title>
                    Engineering Physics
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-button (click)="download3()" >
                    Open
                  </ion-button>
                </ion-card-content>
              </ion-card>
            </ion-label>
          </ion-item>
            <ion-item>
              <ion-label>
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>
                    </ion-card-subtitle>
                    <ion-card-title>
                      Engineering Chemistry
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-button (click)="download4()">
                      Open
                    </ion-button>
                  </ion-card-content>
                </ion-card>
              </ion-label>
            </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Problem Solving and Python Programming
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download5()">
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Basic Civil and Mechanical Engineering
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download6()">
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        -Technical English
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download7()" >
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Engineering Mathematics-II
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download8()" >
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Physics for Electronics Engineering
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download9()">
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Environmental Science and Engineering
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download10()">
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Engineering Mathematics-II
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download11()">
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        -Basic Civil and Mechanical Engineering
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download12()">
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        -Circuit Theory
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button (click)="download13()">
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
    </ion-list>
</ion-content>
