ion-card {
    --background: #1e2023;
    --color: #ffffff;
}
ion-button {
    --background: #696969;
    --background-activated: #808080;
    --background-focused: #808080;
    --background-hover: #808080;
    --border-color: #808080;
    --border-radius: 8px;
    --border-style: solid;
    --border-width: 8px;
    --box-shadow: 10px 10px;
    --color: #ffffff;
    --color-activated: #ffffff;
}
