<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Electronics and Comm,. Enginnering - 2nd year
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
              </ion-card-subtitle>
              <ion-card-title>
                Signals and Systems
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button >
                Open
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-label>
      </ion-item>
        <ion-item>
          <ion-label>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>
                </ion-card-subtitle>
                <ion-card-title>
                  Control Systems Engineering
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-button >
                  Open
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-label>
        </ion-item>
          <ion-item>
            <ion-label>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>
                  </ion-card-subtitle>
                  <ion-card-title>
                    Awesome Title
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-button>
                    Open
                  </ion-button>
                </ion-card-content>
              </ion-card>
            </ion-label>
          </ion-item>
            <ion-item>
              <ion-label>
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>
                    </ion-card-subtitle>
                    <ion-card-title>
                      Linear Algebra and Partial Differential Equations
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-button >
                      Open
                    </ion-button>
                  </ion-card-content>
                </ion-card>
              </ion-label>
            </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Digital Electronics
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button >
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Fundamentals of Data Structure in C
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button>
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Electromagnetic Fields 
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button >
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Electronic Circuits II
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button >
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Linear Integrated Circuits
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button>
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Communication Theory
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button >
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Environmental Science and Engineering
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button>
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>
                      </ion-card-subtitle>
                      <ion-card-title>
                        Probability and Random Processes
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button >
                        Open
                      </ion-button>
                    </ion-card-content>
                  </ion-card>
                </ion-label>
              </ion-item>
    </ion-list>
</ion-content>
